# CPU (laptop): fetch / prepare / check_data. clef-finetune cài riêng KHÔNG kèm dependency (tránh kéo torch):
#   pip install -r requirements.txt
#   pip install --no-deps "clef-finetune @ git+https://github.com/MersivMedia/clef-finetune@c83f7bc1acc23c81ad0de838510c59c48bf60c79"
dvc>=3.60
dvc-gdrive          # DVC remote trên Google Drive
mlflow>=3.5
pyyaml
pandas
scikit-learn        # confusion matrix, đường ngưỡng (roc_curve), P/R/F1 từng intent
